# Ignore node_modules in all folders
node_modules/

# Ignore log files
*.log

# Ignore environment files (for security)
.env

# Ignore system files (Mac, Windows, Linux)
.DS_Store
Thumbs.db

# Ignore compiled output (for TypeScript or Babel)
dist/
build/
