<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav') %> <%- include('./partials/scripts') %>
    <h1>Hanood</h1>
    <%= JSON.stringify(user) %>
  </body>
</html>
